@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  @keyframes slide {
    100% {
      background-position: 50px 0, 125px 25px;
    }
  }

  main {
    @apply w-full min-h-screen px-4 space-y-16 bg-gray-900 sm:px-0;
    background-image: radial-gradient(
        hsla(0, 0%, 84.3%, 0.25) 1px,
        transparent 0
      ),
      radial-gradient(hsla(0, 0%, 84.3%, 0.1) 1px, transparent 0);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
    -webkit-animation: slide 2s linear infinite;
    animation: slide 4s linear infinite;
  }
}

@layer components {
  .mediappv__button {
    @apply rounded-lg flex gap-4 items-center font-extrabold justify-center bg-gradient-to-r w-full capitalize from-primary-mediappv to-[#CFD02B] py-3 text-center text-white;
  }
  .mediappv__centering {
    @apply flex justify-center items-center;
  }
}
